.download-block {
  padding-top: 173px;
  padding-bottom: 112px;
  text-align: center;
  margin-left: 7px;
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  &__paragraph {
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &__button {
    margin-top: 45px;
    padding: 27px;
    width: 370px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF4343;
    &:hover {
      background-color: #E71414;
    }
    &:active {
      background: #FF4343;
      box-shadow: 4px 4px 30px #FF4343;
    }
  }
}

@media (max-width: 1510px) {
  .download-block {
    padding-top: 98px;
    padding-bottom: 78px;
    &__title {
      font-size: 24px;
      line-height: 28px;
    }
    &__paragraph {
      font-size: 14px;
      line-height: 16px;
    }
    &__button {
      margin-top: 43px;
      padding: 30px;
      width: 314px;
      font-size: 18px;
      line-height: 21px;
    }
  }
}
@media (max-width: 1024px) {
  .download-block {
    padding-top: 56px;
    padding-bottom: 45px;
    &__title {
      max-width: 280px;
      min-width: 280px;
      font-size: 18px;
      line-height: 21px;
    }
    &__paragraph {
      font-size: 13px;
      line-height: 15px;
    }
    &__button {
      margin-top: 11px;
      padding: 30px;
      width: 279px;
      font-size: 18px;
      line-height: 21px;
    }
  }
}