.features-block {
  margin-top: 116px;
  margin-left: 13px;
  text-align: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 84px;
    .list__feature {
      padding-top: 154px;
      max-width: 370px;
      .feature__title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: #2D3033;
      }
      .feature__paragraph {
        margin-top: 43px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #6C7279;
      }
    }
  }
}
.list__website {
  padding-bottom: 38px;
}
.pencil {
  position: relative;
  &::before {
    position: absolute;
    content: url("/src/img/pencil.svg");
    top: 13px;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.screen {
  position: relative;
  &::before {
    position: absolute;
    content: url("/src/img/screen.svg");
    top: 13px;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.lamp {
  position: relative;
  &::before {
    position: absolute;
    content: url("/src/img/lamp.svg");
    top: 7px;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.star {
  position: relative;
  &::before {
    position: absolute;
    content: url("/src/img/star.svg");
    top: 13px;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.tick {
  position: relative;
  &::before {
    position: absolute;
    content: url("/src/img/tick.svg");
    top: 2px;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.basket {
  position: relative;
  &::before {
    position: absolute;
    content: url("/src/img/basket.svg");
    top: 4px;
    left: 50%;
    transform: translate(-50%,0);
  }
}

@media (max-width: 1510px) {
  .features-block {
    margin-top: 78px;
    &__list {
      column-gap: 20px;
      row-gap: 49px;
      .list__feature {
        padding-top: 110px;
        max-width: 314px;
        .feature__title {
          margin-top: 22px;
          font-size: 18px;
          line-height: 21px;
        }
        .feature__paragraph {
          margin-top: 22px;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
  .pencil {
    &::before {
      width: 85px;
      height: 85px;
    }
  }
  .screen {
    &::before {
      width: 85px;
      height: 85px;
    }
  }
  .lamp {
    &::before {
      width: 85px;
      height: 85px;
    }
  }
  .star {
    &::before {
      width: 85px;
      height: 85px;
    }
  }
  .tick {
    &::before {
      width: 85px;
      height: 85px;
    }
  }
  .basket {
    &::before {
      width: 85px;
      height: 85px;
    }
  }
}

@media (max-width: 1024px) {
  .features-block {
    margin-top: 40px;
    &__list {
      row-gap: 41px;
      .list__feature {
        padding-top: 89px;
        max-width: 280px;
        .feature__title {
          font-size: 18px;
          line-height: 21px;
        }
        .feature__paragraph {
          margin-top: 9px;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
  .pencil {
    &::before {
      width: 75px;
      height: 75px;
    }
  }
  .screen {
    &::before {
      width: 75px;
      height: 75px;
    }
  }
  .lamp {
    &::before {
      width: 75px;
      height: 75px;
    }
  }
  .star {
    &::before {
      width: 75px;
      height: 75px;
    }
  }
  .tick {
    &::before {
      width: 75px;
      height: 75px;
    }
  }
  .basket {
    &::before {
      width: 75px;
      height: 75px;
    }
  }
}