.team-block {
  margin-top: 114px;
}
.team-block__list {
  display: flex;
  justify-content: space-between;
  .list__team {
    max-width: 270px;
    text-align: left;
    .team__title {
      margin-top: 35px;

      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #2D3033;
    }
    .team__subtitle {
      margin-top: 17px;

      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #FF4343;
      text-transform: uppercase;
    }
    .team__paragraph {
      margin-top: 25px;

      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #6C7279;
    }
    .team__contact {
      display: flex;
      margin-top: 38px;
      column-gap: 6px;
    }
  }
}

@media (max-width: 1510px) {
  .team-block {
    margin-top: 78px;
  }
  .team-block__list {
    .list__team {
      max-width: 227px;
      .team__title {
        margin-top: 25px;
        font-size: 18px;
        line-height: 21px;
      }
      .team__subtitle {
        margin-top: 5px;
        font-size: 14px;
        line-height: 16px;
      }
      .team__paragraph {
        margin-top: 22px;
        font-size: 14px;
        line-height: 16px;
      }
      .team__contact {
        column-gap: 4px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .team-block {
    margin-top: 35px;
  }
  .team-block__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .list__team {
      margin-top: 56px;
      max-width: 280px;
      text-align: left;
      .team__title {
        margin-top: 30px;
        font-size: 18px;
        line-height: 21px;
      }
      .team__subtitle {
        margin-top: 17px;

        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FF4343;
        text-transform: uppercase;
      }
      .team__paragraph {
        margin-top: 12px;
        font-size: 14px;
        line-height: 16px;
      }
      .team__contact {
        margin-top: 55px;
        column-gap: 6px;
      }
    }
  }
}