.testimonials-block {
  margin: 110px auto 0;
  max-width: 1510px;
  background-color: #5C3249;
    &__content {
      display: flex;
      justify-content: space-between;
      .content__text {
        padding: 134px 170px 116px 129px;
        .text__title {
          font-family: "Cardo", "Arial", sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 36px;
          line-height: 48px;
          color: #FFFFFF;
        }
        .text__paragraph {
          margin-top: 27px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          line-height: 15px;
          color: #FFFFFF;
        }
      }
  }
}
.content__img {
  height: 100%;
}

@media (max-width: 1510px) {
  .testimonials-block {
    margin-top: 72px;
    max-width: 1024px;
    &__content {
      .content__text {
        padding: 60px 104px 110px 88px;
        .text__title {
          font-size: 24px;
          line-height: 32px;
        }
        .text__paragraph {
          margin-top: 18px;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .testimonials-block {
    margin: 41px auto 0;
    max-width: 412px;
    &__content {
      flex-direction: column;
      .content__text {
        padding: 28px 25px 95px 20px;
        .text__title {
          font-size: 24px;
          line-height: 32px;
        }
        .text__paragraph {
          margin-top: 35px;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  .content__img {
    height: 100%;
    width: 100%;
  }
}