.testimonials-block {
  margin: 120px auto 0;
  max-width: 1511px;
  background-color: #5C3249;
    &__content {
      display: flex;
      justify-content: space-between;
      .content__text {
        padding: 142px 170px 116px 129px;
        .text__title {
          font-family: "Cardo", "Arial", sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 36px;
          line-height: 48px;
          color: #FFFFFF;
        }
        .text__paragraph {
          margin-top: 30px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          line-height: 15px;
          color: #FFFFFF;
        }
      }
  }
}
.content__img {
  height: 100%;
}

@media (max-width: 1510px) {
  .testimonials-block {
    margin-top: 78px;
    max-width: 1024px;
    &__content {
      .content__text {
        padding: 47px 104px 110px 88px;
        .text__title {
          font-size: 24px;
          line-height: 32px;
        }
        .text__paragraph {
          margin-top: 26px;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}