.work-block {
  margin: 120px auto 0;
  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 380px 380px 380px 380px;
    grid-template-rows: 340px 340px;
  }
}
.work__text {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  .work__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .work__subtitle {
    margin-top: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }
}
.list__work {
  display: flex;
  position: relative;

  &:hover .work__text{
    display: flex;
    background-color: rgba(255, 67, 67, 0.8);
  }

  &:active .work__text{
    background: rgba(185, 12, 12, 0.8);
  }
}

@media (max-width: 1510px) {
  .work-block {
    margin-top: 80px;
    &__list {
      grid-template-columns: 257px 257px 257px 257px;
      grid-template-rows: 230px 230px;
    }
  }
  .work__text {
    .work__title {
      font-size: 18px;
      line-height: 21px;
    }
    .work__subtitle {
      margin-top: 28px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}


