.work-block {
  margin: 120px auto 0;
  max-width: 1510px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
}
.pic_wrapper{
  width: 378px;
  height: 340px;

  position: relative;
  display: flex;
  margin: 0;
  img{
    margin: 0;
    height: 100%;
    width: 100%;
  }
}
.wrapper__text{
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.wrapper__website {
  margin-top: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.text_wrapper{
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
}
.pic_wrapper:hover .text_wrapper{
  display: flex;
  position: absolute;
  background: rgba(255, 67, 67, 0.8);
  border: 2px solid #FFFFFF;
}
.pic_wrapper:active .text_wrapper{
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
}

@media (max-width: 1510px) {
  .work-block {
    margin: 80px auto 0;

  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1024px;
    .pic_wrapper {
      width: 257px;
      height: 231px;
    }
  }
  .wrapper__text {
    font-size: 18px;
    line-height: 21px;
  }
  .wrapper__website {
    margin-top: 25px;
    font-size: 14px;
    line-height: 16px;
  }
}

  @media (max-width: 1024px) {
    .work-block {
      margin: 34px auto 0;
      width: 320px;
    }
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      width: 320px;

      .pic_wrapper {
        width: 160px;
        height: 144px;
      }
    }
    .wrapper__website {
      margin-top: 13px;
    }
  }

